body{
  background-color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 30rem;
  min-width: 20%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(1, 166, 255);
}

textarea{
  overflow-wrap: break-word;
  min-height: 7rem;
  min-width: 10%;
  /* max-width: fullscreen; */
  display: flex;
  flex-grow: 1;
  padding: 4rem;
  margin-bottom: 10px;
  border: 2px solid #16a761;
  border-radius: 3px;
  resize:both;
  border-radius: .4rem;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
}
@media screen and (max-width: 768px){
  .container{
    width: 90%;
  }
  textarea{
    width: 60%;
  }
  
}
textarea:visited, textarea:focus, textarea:active, textarea:hover{
  border: 2px solid #1622a7;

}
.btn{
  padding: .7rem;
}
.speakerBtn, .stopBtn{
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.speakerBtn{
  background-color: rgb(90, 128, 0);
  color:white;
  font-size: medium;
  border: none;
  padding:4px 10px;
  border-radius: 3px;
}
.stopBtn{
  background-color: rgb(0, 242, 255);
  color:white;
  font-size: medium;
  border: none;
  padding:4px 10px;
  border-radius: 3px;
}